rss-feed-summary-to-slack.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 38
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2816,
        -400
      ],
      "id": "3a30eee8-f06a-43c0-a486-e50738703ca7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://phys.org/rss-feed/space-news/astronomy/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -2592,
        -400
      ],
      "id": "9d0411b7-e353-4430-9da3-0d6e4528eb14",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98348f76-8bde-43f7-8076-cf0427f38bbc",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "810647fa-2ff0-42bf-863a-d22f0461a695",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "db02b5d3-84bd-49ae-8e59-70fc8a4305c6",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "a3a90ca4-3a8c-4534-b979-904fbf2246fd",
              "name": "isoDate",
              "value": "={{ new Date($json.isoDate).getTime() }}",
              "type": "string"
            },
            {
              "id": "82b1be86-a18a-4923-b3b5-0b425b18c43a",
              "name": "categories",
              "value": "={{ $json.categories }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        -400
      ],
      "id": "c5b8f943-9082-466b-868b-3ea56dfa7730",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ffad08c-7e0a-418c-8cea-adc21b39383a",
              "leftValue": "={{ $json.isoDate.toNumber()\n }}",
              "rightValue": "={{ Date.now() - 7 * 24 * 60 * 60 * 1000 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2144,
        -400
      ],
      "id": "64449020-b153-4863-b180-1fe40f95b3c3",
      "name": "Filter"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1936,
        -400
      ],
      "id": "51193e0f-94f8-4481-bc85-d97fa808af2c",
      "name": "Sort"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1712,
        -400
      ],
      "id": "d6365ca8-d523-42ef-8123-905dcda2f214",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet ret = \"\"\nfor (const item of $input.all()) {\n  ret = ret + '- [' + item.json.title + '](' + item.json.link + ' \"‌\"): \\n' + item.json.content + \"\\n\\n\"\n}\n\nreturn {data: ret}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1488,
        -400
      ],
      "id": "dafb0c4c-d24c-41e8-b3f4-38d5cbf67d28",
      "name": "Code"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C099CK4B996",
          "mode": "list",
          "cachedResultName": "all-astrotope-dev"
        },
        "text": "={{ $json.data }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1264,
        -400
      ],
      "id": "a3b245fd-9655-49cf-9bc9-63365943ab5e",
      "name": "Send a message",
      "webhookId": "8a693959-ca16-479e-aa61-a37e88568594",
      "credentials": {
        "slackApi": {
          "id": "2LdPGSfR2xMVGhe8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2816,
        -576
      ],
      "id": "5e0d7aa7-870f-43c3-a257-40dfbc4a3220",
      "name": "Manual Trigger"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d683f447cac41846cf4b18a330bdcbea043d124138163586e95d25c6fc96521"
  }
}
